{% extends "base.html" %}
{% block js %}
    <script src="/javascripts/market/type.js"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <h3><i class="fa fa-shopping-cart"></i> Market orders:
            <a href="#" class="showInfo" data-typeID="{{ typeID }}"><img src="http://image.eveonline.com/Type/{{ typeID }}_32.png"></a>
            <a href="#" class="showMarketDetails" data-typeID="{{ typeID }}">{{ type.typeName }}</a>
        </h3>
        <section class="margins" data-typeID="{{ typeID }}"></section>
    </div>
{% endblock %}
