{% extends "base.html" %}
{% block js %}
    <script src="/javascripts/market.js"></script>
    <script src="/javascripts/market/type.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <h3><i class="fa fa-shopping-cart"></i> Market orders:
        <img src="http://image.eveonline.com/Type/{{ typeID }}_32.png">
        {{ type.typeName }}
    </h3>
    
    <section>
        <select id="regions" title="Regions"
            multiple data-show-subtext="true"
            data-show-tick="true" data-show-subtext="true"
            data-selected-text-format="values"
            data-live-search="true"></select>
        <select id="constellations" title="Constellations"
            multiple disabled
            data-show-subtext="true"
            data-show-tick="true" data-show-subtext="true"
            data-selected-text-format="values"
            data-live-search="true"></select>
        <select id="systems" title="Systems"
            multiple disabled
            data-show-subtext="true"
            data-show-tick="true" data-show-subtext="true"
            data-selected-text-format="values"
            data-live-search="true"></select>
    </section>

    <section class="marketorders" data-typeID="{{ typeID }}">
        <h4>Sellers</h4>
        <section class="sell"></section>
        <h4>Buyers</h4>
        <section class="buy"></section>
    </section>
</div>
{% endblock %}
