{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block content %}
<div class="container">
        
    <h2><i class="fa fa-key"></i> Delete API key</h2>
    {{ macros.apikey(key=key, user=user, actions=false) }}
    
    <form class="wide right" action="" method="post" role="form">
        <a href="/u/{{ user.username }}/settings"
            class="btn btn-lg btn-success">Cancel</a>
        <button type="submit" class="btn btn-danger btn-lg"><i class="fa fa-trash-o"></i> Delete</button>
    </form>

</div>
{% endblock %}
