{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1><i class="fa fa-key"></i> Add API key</h1>
            <form class="wide" action="" method="post" role="form">
                {{ form.render() | safe }}
                <a href="/u/{{ user.username }}/settings"
                    class="btn btn-lg btn-warning">Cancel</a>
                <button type="submit" class="btn btn-primary btn-lg">Add API key</button>
                <a target="_blank"
                    href="http://community.eveonline.com/support/api-key/CreatePredefined?accessMask=268435455"
                    type="button" class="btn btn-lg btn-default"><i class="fa fa-external-link"></i> Create predefined API key</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
