{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
<div class="container">

    <div>
        <h2>
            <span><i class="fa fa-key"></i> API Keys</span>
            {% if apikeys and apikeys.length %}
                <a href="/u/{{ user.username }}/settings/apikey"
                    type="button" class="btn btn-sm btn-primary">Add key</a>
            {% endif %}
        </h2>
        {% if apikeys and apikeys.length %}
            {% for key in apikeys %}
                {{ macros.apikey(key=key, user=user, actions=true) }}
            {% endfor %}
        {% else %}
            <div class="apikey panel panel-default">
                <p>
                    <a href="/u/{{ user.username }}/settings/apikey"
                        type="button" class="btn btn-lg btn-primary">Add API key</a>
                </p>
            </div>
        {% endif %}
    </div>

</div>
{% endblock %}
