<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
<link href="/bower_components/backgrid/lib/backgrid.min.css" rel="stylesheet">
<link href="/bower_components/backgrid-filter/backgrid-filter.min.css" rel="stylesheet">
<link href="/bower_components/backgrid-paginator/backgrid-paginator.min.css" rel="stylesheet">
<link href="/bower_components/fancytree/src/skin-themeroller/ui.fancytree.css" rel="stylesheet">

<link href="/stylesheets/jquery-ui-eggplant.min.css" rel="stylesheet">
<link href="/stylesheets/slate-theme.min.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">

{% block css %}{% endblock %}

</head>
<body class="{% if eve.trusted %}eve-trusted{% else %}eve-untrusted{% endif %}">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">EVE Market Fun</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="/market" class="dropdown-toggle" 
                        data-toggle="dropdown"><span class="fa fa-shopping-cart"></span> Market <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/market/items">Browse Items</a></li>
                        <!-- <li><a href="/market/lists">Item Lists</a></li> -->
                        <li><a href="/market/orders">Market Orders</a></li>
                        <li><a href="/market/transactions">Transactions</a></li>
                        <li><a href="/market/journal">Journal</a></li>
                        <!-- <li><a href="/market/pricecheck">Price Check</a></li> -->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/industry" class="dropdown-toggle" 
                        data-toggle="dropdown"><i class="fa fa-briefcase"></i> Industry <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/industry/jobs">Jobs</a></li>
                        <li><a href="/industry/blueprints">Blueprints</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" 
                            data-toggle="dropdown"><span class="fa fa-user"></span> {{ user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/u/{{ user.username }}"><span class="fa fa-home"></span> Dashboard</a></li>
                            <li><a href="/u/{{ user.username }}/settings"><span class="fa fa-gear"></span> Settings</a></li>
                            <li><a href="/auth/logout"><span class="fa fa-sign-out"></span> Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/auth/signup"><span class="fa fa-user"></span> Sign up</a></li>
                    <li><a href="/auth/login"><span class="fa fa-sign-in"></span> Login</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

{% if message.length %}
<div class="container">
    {% for m in message %}
        {% if m.level == 'success' %}
            <div class="alert alert-success">{{ m.message }}</div>
        {% elif m.level == 'error' %}
            <div class="alert alert-danger">{{ m.message }}</div>
        {% else %}
            <div class="alert alert-danger">{{ m }}</div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}

{% block content %}{% endblock %}

    <!--
    <div id="footer">
      <div class="container">
        <p class="text-muted">
            Assets from EVE Online ©CCP hf. All rights reserved. Used with permission.
        </p>
      </div>
    </div>
    -->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

<script src="/bower_components/async/lib/async.js"></script>
<script src="/bower_components/jquery/jquery.js"></script>
<script src="/bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="/bower_components/underscore/underscore-min.js"></script>
<script src="/bower_components/backbone/backbone.js"></script>
<script src="/bower_components/lunr.js/lunr.min.js"></script>
<script src="/bower_components/bluebird/js/browser/bluebird.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/bower_components/backgrid/lib/backgrid.js"></script>
<script src="/bower_components/backbone-pageable/lib/backbone-pageable.js"></script>
<script src="/bower_components/backgrid-paginator/backgrid-paginator.min.js"></script>
<script src="/bower_components/backgrid-filter/backgrid-filter.min.js"></script>
<script src="/bower_components/fancytree/src/jquery.fancytree.js"></script>
<script src="/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
<script src="/bower_components/moment/moment.js"></script>

<script src="/javascripts/ccpeve.js"></script>
<script src="/javascripts/locationselector.js"></script>
<script src="/javascripts/main.js"></script>

<script type="text/javascript">
window.eve_headers = {{ eve_json|safe }}
</script>

{% block js %}{% endblock %}
</body>
</html>

