{% extends "base.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>EVE Market Fun</h1>
        {% if server_status %}
            <h3>
                Tranquility Status:
                {% if server_status.serverOpen.content == 'True' %}
                    <span class="label label-success">Open
                {% else %}
                    <span class="label label-danger">Closed
                {% endif %}
                <span class="badge">{{ server_status.onlinePlayers.content }}</span>
                </span>
            </h3>
        {% endif %}
    </div>
{% endblock %}
