body {
    margin-top: 65px;
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}
.clear:after {
    clear: both;
}
form.wide {
    width: 100%;
}
a.showMarketDetails img {
  width: 24px;
  height: 24px;
  margin-right: 0.75em;
}
ul.ui-fancytree {
    outline: 0;
}
p.form-error-tooltip {
    color: #EE5F5B;
}
.backgrid {
  font-size: 0.85em;
}
.backgrid thead th {
  /* text-align: center; */
  background: #7a8288;
}
.backgrid th a {
  display: block;
  color: #ddd;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.backgrid tbody tr:nth-child(odd) {
   background-color: #373B40
}
.backgrid td {
    border-bottom: none;
}
.backgrid td a {
  text-decoration: none;
}
.backgrid td.showmarketdetails-cell a.showMarketDetails {
  width: 37ex;
  max-width: 37ex;
  display: block;
  margin-left: 32px;
  line-height: 32px;
}
.backgrid td.showmarketdetails-cell a.showInfo {
    float: left;
    margin-right: 0.75em;
}
.backgrid td.category-string-cell {
  width: 15ex;
}
.backgrid td.group-string-cell {
  width: 25ex;
}
.backgrid td.metalevel-cell {
  width: 10ex;
}
.backgrid td.showmarketdetails-cell a:hover {
  background: #5d6368;
}
.backgrid td.progressinteger-cell {
  text-align: center;
}
.backgrid-paginator ul > li > a {
    font-size: 0.9em;
    height: 4ex;
    width: 3ex;
}
.backgrid-paginator ul {
    padding: 0;
    margin-top: 1em;
}
#market-filters {
    float: left;
    width: 33%;
    font-size: 0.8em;
}
#market-filters .categories ul {
    overflow-x: hidden;
}
#market-filters ul.meta-groups, #market-filters ul.meta-levels {
    list-style-type: none;
    padding: 0;
}
#market-filters ul.meta-groups li { 
    float: left;
    width: 32%;
}
#market-filters ul.meta-levels li { 
    float: left;
    width: 32%;
}
#market-filters ul.meta-groups li label,
#market-filters ul.meta-levels li label {
    font-weight: normal;
    margin: 0 0 0 0.25em;
}
#market-filters #apply-filters {
    display: block;
    width: 100%;
}
#market-items {
    margin-left: 35%;
    padding: 0.75em;
}
table { width: 100% }
table thead th { padding: 0.5em; text-align: center; }
table tbody td { padding: 0.5em }
table tbody tr.blankslate td { text-align: center; }
table tbody tr:nth-child(odd) {
   background-color: #373B40
}
table.apikeys tbody td { text-align: center; }

dl { }
dl dt {
    float: left;
    display: block;
    text-align: right;
    width: 15ex;
    padding: 0.25em 0.5em;
    background-color: #373B40;
}
dl dd {
    padding: 0.25em 0.5em;
    margin: 0.75em 0.25em 0.75em 16ex;
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow: hidden;
}

@media(min-width:910px){
    .container { width: 900px }
}
