
    <script src="javascripts/jquery-1.10.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="javascripts/ccpeve.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
