
    <script src="/vendor/jquery-1.10.2.min.js"></script>
    <script src="/vendor/underscore-min.js"></script>
    <script src="/vendor/backbone-min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/backgrid/lib/backgrid.min.js"></script>
    <script src="/javascripts/ccpeve.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
